html {
    height: 100%;
}
body {
    margin:0;
    padding:0;
    font-family: emoji;
    background-image: url('../image/artistic.jpeg');
    background-size: cover;
    background-position: center;
}

.register-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    color: #ff7a00;
    font-family: emoji;
}

.register-box h2 {
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
}

.register-box .user-box {
    position: relative;
}

.register-box .user-box input {
    width: 100%;
    padding: 10px 0;
    color: #ff7a00;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #ff7a00;
    outline: none;
    background: transparent;
    font-family: emoji;
}

.register-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    color: #ff7a00;
    pointer-events: none;
    transition: .5s;
}

.register-box .user-box input:focus ~ label,
.register-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #ff7a00;
}

.register-box .error {
    color: red;
    font-size: 14px;
}

.register-box input[type="submit"] {
    background-color: #ff7a00;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: emoji;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    font-size: 16px;
}