body{
// Symulating the wrapping container to show the flexibility.
height: 100vh
position: relative
}

.library{
    background-color: aliceblue;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.library__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: lightgray;
}

.library__main{
    flex-grow: 1;
    display: flex;
    align-items: stretch;
}

.library__list-container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.library__filters{
    padding: 20px 0 20px 20px
}

.library__search{
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-bottom: 10px;
}

.library__search-label{
    margin-right: 10px;
}
.library__search-input{
    flex-grow: 1
}

.library__search-btn{
    margin-left: 20px
}

.library__selects{
    display: flex;
    margin-right: -10px;
}

.library__select {
    min-width: calc(33.33% - 10px);
    max-width: 100%;
    margin-right: 10px
}

.library__list {
    flex-grow: 1;
    background-color: black;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start
}

.library__list-item {
    padding: 10px;
    max-width: 150px;
    min-width: 150px;
    text-decoration: none;
    background-color: deepskyblue;
    cursor: pointer
}

.library__list-item-img-wrapper {
    width: 100%;
    height: 150px;
    background-color: darkgray;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5px
}

.library__list-item-img {
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: lightgray
}
.library--sidebar {
    min-width: 300px;
    max-width: 300px;
    padding: 20px 20px 0;
    display: flex;
    flex-direction: column;
    text-align: right;
    margin: -15px 0 5px;
    line-height: 60px;
    z-index: 10
}


.library--keywords-label {
    font-weight: bold;
    display: inline-block;
    padding: 3px 5px;
    margin-bottom: 5px;
    margin-right: 3px;
    border-radius: 4px;
    background-color: deepskyblue;
    cursor: pointer
}
.library--meta-item {
    margin-top: 5px;
    font-weight: bold;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
